* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Create a card for each turn */
.turno {
    display: grid;
    grid-template-areas: "titulo" "tablas";
    grid-template-columns: minmax(0, 1fr);
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.turno h2 {
    grid-area: titulo;
    font-size: 2rem;
    color: #333;
}

/* Show the tables in a horizontally aligned grid */
.tablas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

section h3 {
    grid-area: titulo;
    font-size: 1.5rem;
    color: #333;
}

/* Show the table in a card-like style */
.tabla {
    display: grid;
    grid-template-areas:
    "h_nom" "h_sal"
    "c_nom" "c_sal";
    grid-template-columns: minmax(0, 1fr);
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Show the table header */
.tabla h4 {
    font-size: 1.2rem;
    color: #333;
}

.h_nom {
    grid-area: h_nom;
}

.h_sal {
    grid-area: h_sal;
}

.c_nom {
    grid-area: c_nom;
}

.c_sal {
    grid-area: c_sal;
}